USE [master]
GO
/****** Object:  Database [QUANLY_KHACHHANG]    Script Date: 5/3/2022 5:49:52 PM ******/
CREATE DATABASE [QUANLY_KHACHHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLY_KHACHHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLY_KHACHHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLY_KHACHHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QUANLY_KHACHHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLY_KHACHHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLY_KHACHHANG]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 5/3/2022 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PAYMENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICES_ID] [int] NULL,
	[PERSONS_ID] [int] NULL,
	[PAYMENT_DATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONS]    Script Date: 5/3/2022 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONS](
	[PERSONS_ID] [int] IDENTITY(1,1) NOT NULL,
	[PERSONS_USER_ID]  AS ('KH'+right('00'+CONVERT([varchar](10),[PERSONS_ID]),(2))),
	[PERSONS_FIRST_NAME] [nvarchar](50) NULL,
	[PERSONS_LAST_NAME] [nvarchar](50) NULL,
	[PERSONS_ADDRESS] [nvarchar](255) NULL,
	[PERSONS_PHONE_NUMBER] [varchar](13) NULL,
	[PERSONS_USER_NAME] [varchar](50) NULL,
	[PERSONS_USER_PASSWORD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PERSONS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PURCHASE]    Script Date: 5/3/2022 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PURCHASE](
	[PURCHASE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PURCHASE_DATE] [date] NULL,
	[PURCHASE_TOTAL] [float] NULL,
	[SERVICES_ID] [int] NULL,
	[PERSONS_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PURCHASE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICES]    Script Date: 5/3/2022 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICES](
	[SERVICES_ID] [int] IDENTITY(1,1) NOT NULL,
	[SERVICES_ID_NUMBER]  AS ('SV'+right('00'+CONVERT([varchar](10),[SERVICES_ID]),(2))),
	[SERVICES_NAME] [nvarchar](50) NULL,
	[SERVICE_PRICES] [float] NULL,
	[SUPPLIER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SERVICES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER]    Script Date: 5/3/2022 5:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER](
	[SUPPLIER_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUPPLIER_ID_NUMBER]  AS ('SP'+right('00'+CONVERT([varchar](10),[SUPPLIER_ID]),(2))),
	[SUPPLIER_NAME] [nvarchar](50) NULL,
	[SUPPLIER_ADDRESS] [nvarchar](255) NULL,
	[SUPPLIER_NUMBER] [varchar](13) NULL,
	[SUPPLIER_SERVICE_NAME] [nvarchar](50) NULL,
	[SUPPLIER_SERVICE_PRICE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[SUPPLIER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SERVICES_ID], [PERSONS_ID], [PAYMENT_DATE]) VALUES (1, 1, 2, CAST(N'2016-12-21' AS Date))
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SERVICES_ID], [PERSONS_ID], [PAYMENT_DATE]) VALUES (2, 2, 2, CAST(N'2016-12-22' AS Date))
INSERT [dbo].[PAYMENT] ([PAYMENT_ID], [SERVICES_ID], [PERSONS_ID], [PAYMENT_DATE]) VALUES (3, 3, 4, CAST(N'2016-12-22' AS Date))
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[PERSONS] ON 

INSERT [dbo].[PERSONS] ([PERSONS_ID], [PERSONS_FIRST_NAME], [PERSONS_LAST_NAME], [PERSONS_ADDRESS], [PERSONS_PHONE_NUMBER], [PERSONS_USER_NAME], [PERSONS_USER_PASSWORD]) VALUES (2, N'Thomas ', N'P Adams', N' 1893 Front Street', N'313-214-0739', N'Thomas ', N'123456789')
INSERT [dbo].[PERSONS] ([PERSONS_ID], [PERSONS_FIRST_NAME], [PERSONS_LAST_NAME], [PERSONS_ADDRESS], [PERSONS_PHONE_NUMBER], [PERSONS_USER_NAME], [PERSONS_USER_PASSWORD]) VALUES (4, N'Jeffrey ', N'M Haley

', N'1814 Crestview Terrace', N'682-201-7263', N'Jeffrey ', N'123456789')
INSERT [dbo].[PERSONS] ([PERSONS_ID], [PERSONS_FIRST_NAME], [PERSONS_LAST_NAME], [PERSONS_ADDRESS], [PERSONS_PHONE_NUMBER], [PERSONS_USER_NAME], [PERSONS_USER_PASSWORD]) VALUES (5, N'Stacie ', N'J Brand', N' 3538 Mandan Road', N'636-209-3877', N'Stacie ', N'123456789')
SET IDENTITY_INSERT [dbo].[PERSONS] OFF
GO
SET IDENTITY_INSERT [dbo].[PURCHASE] ON 

INSERT [dbo].[PURCHASE] ([PURCHASE_ID], [PURCHASE_DATE], [PURCHASE_TOTAL], [SERVICES_ID], [PERSONS_ID]) VALUES (7, CAST(N'2016-11-22' AS Date), 2651262, 2, 4)
INSERT [dbo].[PURCHASE] ([PURCHASE_ID], [PURCHASE_DATE], [PURCHASE_TOTAL], [SERVICES_ID], [PERSONS_ID]) VALUES (8, CAST(N'2016-11-22' AS Date), 2651262, 1, 5)
INSERT [dbo].[PURCHASE] ([PURCHASE_ID], [PURCHASE_DATE], [PURCHASE_TOTAL], [SERVICES_ID], [PERSONS_ID]) VALUES (9, CAST(N'2016-11-22' AS Date), 2651262, 1, 2)
SET IDENTITY_INSERT [dbo].[PURCHASE] OFF
GO
SET IDENTITY_INSERT [dbo].[SERVICES] ON 

INSERT [dbo].[SERVICES] ([SERVICES_ID], [SERVICES_NAME], [SERVICE_PRICES], [SUPPLIER_ID]) VALUES (1, N'Protect Graphics', 55266281.522, 1)
INSERT [dbo].[SERVICES] ([SERVICES_ID], [SERVICES_NAME], [SERVICE_PRICES], [SUPPLIER_ID]) VALUES (2, N'Protect Fusion', 652918.252, 2)
INSERT [dbo].[SERVICES] ([SERVICES_ID], [SERVICES_NAME], [SERVICE_PRICES], [SUPPLIER_ID]) VALUES (3, N'Protect Info', 772125.2626, 3)
SET IDENTITY_INSERT [dbo].[SERVICES] OFF
GO
SET IDENTITY_INSERT [dbo].[SUPPLIER] ON 

INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_ADDRESS], [SUPPLIER_NUMBER], [SUPPLIER_SERVICE_NAME], [SUPPLIER_SERVICE_PRICE]) VALUES (1, N'Melissa A Barnard', N'4654 Hall Valley Drive', N'304-305-5569', N'Protect Graphics', 55266281.522)
INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_ADDRESS], [SUPPLIER_NUMBER], [SUPPLIER_SERVICE_NAME], [SUPPLIER_SERVICE_PRICE]) VALUES (2, N'Antonio M Rivera', N'3230 Prospect Valley Road', N'949-247-2354', N'Protect Fusion', 652918.252)
INSERT [dbo].[SUPPLIER] ([SUPPLIER_ID], [SUPPLIER_NAME], [SUPPLIER_ADDRESS], [SUPPLIER_NUMBER], [SUPPLIER_SERVICE_NAME], [SUPPLIER_SERVICE_PRICE]) VALUES (3, N'Charles L Dixon', N'3427 Maple Lane', N'256-487-0285', N'Protect Info', 772125.2626)
SET IDENTITY_INSERT [dbo].[SUPPLIER] OFF
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([PERSONS_ID])
REFERENCES [dbo].[PERSONS] ([PERSONS_ID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([SERVICES_ID])
REFERENCES [dbo].[SERVICES] ([SERVICES_ID])
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD FOREIGN KEY([PERSONS_ID])
REFERENCES [dbo].[PERSONS] ([PERSONS_ID])
GO
ALTER TABLE [dbo].[PURCHASE]  WITH CHECK ADD FOREIGN KEY([SERVICES_ID])
REFERENCES [dbo].[SERVICES] ([SERVICES_ID])
GO
ALTER TABLE [dbo].[SERVICES]  WITH CHECK ADD FOREIGN KEY([SUPPLIER_ID])
REFERENCES [dbo].[SUPPLIER] ([SUPPLIER_ID])
GO
/****** Object:  StoredProcedure [dbo].[DELETE_CUSTOMER]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETE_CUSTOMER](@ID INT) AS

delete from PURCHASE
where PURCHASE.PERSONS_ID = @ID
delete PAYMENT
where PAYMENT.PAYMENT_ID = @ID
delete from PERSONS
where PERSONS_ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[delete_suplier]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delete_suplier] (@id int)
as 
delete from PAYMENT
where  SERVICES_ID =(select SERVICES_ID from SERVICES where SUPPLIER_ID =@id)
delete from PURCHASE 
where SERVICES_ID =(select SERVICES_ID from SERVICES where SUPPLIER_ID =@id)
delete from services
where SERVICES.SUPPLIER_ID = @id
delete from SUPPLIER
where SUPPLIER_ID = @id
GO
/****** Object:  StoredProcedure [dbo].[edit_suplier]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[edit_suplier] (@id int)
as 
select * from SUPPLIER where SUPPLIER_ID = @id
GO
/****** Object:  StoredProcedure [dbo].[Edit_User]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Edit_User] (@PERSONS_ID int)
as select PERSONS_ID,PERSONS_FIRST_NAME,PERSONS_LAST_NAME,PERSONS_PHONE_NUMBER,PERSONS_ADDRESS,PERSONS_USER_NAME,PERSONS_USER_PASSWORD from PERSONS
where PERSONS_ID = @PERSONS_ID
GO
/****** Object:  StoredProcedure [dbo].[get_customer_buy_serives]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_customer_buy_serives](@id int)
as select
persons_first_name +' '+persons_last_name as name,
services.services_id_number
,service_prices
,supplier.supplier_name
,supplier.supplier_address
,supplier.supplier_number
from services
inner join payment
on services.services_id = payment.services_id
inner join persons 
on payment.persons_id = persons.persons_id
inner join supplier 
on services.supplier_id = supplier.supplier_id
where services.services_id = @id
GO
/****** Object:  StoredProcedure [dbo].[Get_Infro_suplier_not_in_services]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc  [dbo].[Get_Infro_suplier_not_in_services]
as
select SUPPLIER_ID,SUPPLIER_NAME 
from supplier where  SUPPLIER_ID not in (select SUPPLIER_ID from SERVICES )
GO
/****** Object:  StoredProcedure [dbo].[get_services_infor]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_services_infor](@id int )
as select * from services
inner join supplier
on services.supplier_id = supplier.supplier_id
where services.services_id = @id
GO
/****** Object:  StoredProcedure [dbo].[get_services_infor_by_id]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_services_infor_by_id](@id int )
as select * from SUPPLIER where SUPPLIER_ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[get_suplier]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_suplier] (@id int)
as 
select * from SUPPLIER where SUPPLIER_ID = @id
GO
/****** Object:  StoredProcedure [dbo].[history_payment]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[history_payment]
as select
PERSONS.PERSONS_FIRST_NAME+' '+ PERSONS.PERSONS_LAST_NAME AS NAME,
SERVICES.SERVICES_NAME,
SERVICES.SERVICE_PRICES
from PAYMENT 
inner join SERVICES on PAYMENT.SERVICES_ID = SERVICES.SERVICES_ID
inner join PERSONS on PAYMENT.PERSONS_ID = PERSONS.PERSONS_ID
GO
/****** Object:  StoredProcedure [dbo].[Insert_customter]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Insert_customter](@First_name nvarchar(50),@Last_name nvarchar(50),@PhoneNumber varchar(13),@address nvarchar(255),@username varchar(50),@password varchar(50))
as insert into PERSONS (PERSONS_FIRST_NAME,PERSONS_LAST_NAME,PERSONS_PHONE_NUMBER,PERSONS_ADDRESS,PERSONS_USER_NAME,PERSONS_USER_PASSWORD) 
VALUES(@First_name,@Last_name,@PhoneNumber,@address,@username,@password)
GO
/****** Object:  StoredProcedure [dbo].[insert_suplier]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[insert_suplier]( @name nvarchar(50),@address nvarchar(255),@number varchar(13),@service_name nvarchar(50),@service_price float)
as insert into  SUPPLIER (SUPPLIER_NAME,SUPPLIER_ADDRESS,SUPPLIER_NUMBER,SUPPLIER_SERVICE_NAME,SUPPLIER_SERVICE_PRICE) values (@name,@address,@number,@service_name,@service_price)
GO
/****** Object:  StoredProcedure [dbo].[report]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[report]
as 
select PERSONS.PERSONS_FIRST_NAME+' '+PERSONS_LAST_NAME as PERSONS_NAME,SERVICES.SERVICES_NAME,SERVICES.SERVICE_PRICES from PERSONS
inner join PAYMENT
on PERSONS.PERSONS_ID = PAYMENT.PERSONS_ID
INNER JOIN SERVICES
ON PAYMENT.SERVICES_ID = SERVICES.SERVICES_ID
GO
/****** Object:  StoredProcedure [dbo].[services_Infor]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[services_Infor](@services_id int)
as 
select    * from SERVICES 
INNER JOIN SUPPLIER
ON SERVICES.SERVICES_ID = SUPPLIER.SUPPLIER_ID
WHERE SERVICES.SERVICES_ID = @services_id
GO
/****** Object:  StoredProcedure [dbo].[suplier_grid]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[suplier_grid](@supplier_id INT)
as 
select * from SUPPLIER
WHERE SUPPLIER_ID = @supplier_id;
GO
/****** Object:  StoredProcedure [dbo].[update_suplier]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[update_suplier] (@id int ,  @name nvarchar(50),@address nvarchar(255),@number varchar(13),@service_name nvarchar(50),@service_price float)
as update SUPPLIER
set SUPPLIER_NAME =@name,
SUPPLIER_NUMBER = @number,
SUPPLIER_ADDRESS = @address,
SUPPLIER_SERVICE_NAME = @service_name,
SUPPLIER_SERVICE_PRICE = @service_price
where SUPPLIER_ID = @id
GO
/****** Object:  StoredProcedure [dbo].[Update_User]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Update_User]
(@ID int
,@FIRST_NAME NVARCHAR(50)
,@LAST_NAME NVARCHAR(50)
,@PHONE_NUMBER VARCHAR(13)
,@ADDRESS NVARCHAR(255)
,@USER_NAME VARCHAR(50)
,@PASSWORD VARCHAR(50))
as update PERSONS
set PERSONS_FIRST_NAME = @FIRST_NAME
,PERSONS_LAST_NAME = @LAST_NAME
,PERSONS_PHONE_NUMBER=@PHONE_NUMBER
,PERSONS_ADDRESS=@ADDRESS
,PERSONS_USER_NAME = @USER_NAME
,PERSONS_USER_PASSWORD = @PASSWORD
WHERE PERSONS_ID = @ID
GO
/****** Object:  StoredProcedure [dbo].[USER_GRID]    Script Date: 5/3/2022 5:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USER_GRID] (@PERSONS_ID INT )
AS 
SELECT 
PERSONS.PERSONS_FIRST_NAME +' '+PERSONS.PERSONS_LAST_NAME AS CUSTOMER_NAME
,PERSONS.PERSONS_ID
,PERSONS_ADDRESS
,PERSONS_PHONE_NUMBER 
,PURCHASE_DATE
,PURCHASE_TOTAL
,SERVICES.SERVICES_ID
,SERVICES_NAME
FROM PERSONS 
INNER JOIN PURCHASE ON PERSONS.PERSONS_ID = PURCHASE.PERSONS_ID
INNER JOIN SERVICES ON  PURCHASE.SERVICES_ID = SERVICES.SERVICES_ID

WHERE PERSONS.PERSONS_ID = @PERSONS_ID

group by PERSONS_FIRST_NAME
,PERSONS_LAST_NAME
,PERSONS.PERSONS_ID
,PERSONS_ADDRESS
,PERSONS_PHONE_NUMBER
,PURCHASE_DATE 
,PURCHASE_TOTAL
,SERVICES.SERVICES_ID
,SERVICES_NAME
GO
USE [master]
GO
